*{
	padding: 0;
	margin: 0;
}
body{
	background: #000;
}
div ul li a {
	text-decoration: none;
	color: black;
}
.h2_logo{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2700fd;
	background: #000;
	font-size: 28px;
	font-family:Freebooter Script ,Freebooter Script,Calibri Light; 
}
h2 i {
	color: #8500ff;
}
div ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	background: #000;
}

div ul li{
	float: left;
	padding: 30px;
	list-style-type: none;
	font-family: Bebas Neue Bold,Calibri Light;
	color: #Fff;
	display: block;
}
div ul li:hover{
	background:#4a4a4a;
	border-bottom: 1px solid red;
	cursor: pointer;
	display: block;
}
div ul{
	margin-left: 34%;
	display: block;
}
.menu{
	margin-bottom:50px;
	display: block;
	margin-bottom: 15px;
	position: relative;
	background: #000;
	height: 83px;
    width: 100%;
}
#artic-sel{
	margin-left: 35.5%;
}
.info{
	color: #9a9a9a;
}
.write{
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
}
.title{
	width: 100%;
	height: 34px;
	color: #fff;
	font-size: 18px;
	background: #565656;
	border: none;
	font-family: Bebas Neue Bold;
	border-bottom: 1px solid orange;
}
.artical-h{
	color: #fff;
	font-family: Bebas Neue Bold;
	font-size: 22px;
}
.artical-h:hover{
	transition: 0.5s;
	text-decoration: underline;
}
.question-text{
	width: 100%;
	height: 300px;
	resize: none;
	color: #fff;
	margin-bottom: 2%;
	background: #565656;
	border: none;
	font-size: 20px;
	font-family: Courier New;
	border-bottom: 1px solid orange;
}
.question-text:focus{
	border: none;
	box-shadow: 1px 1px 5px #fff;
}
.sel{
	width: 20%;
	height: 25px;
	margin-left: 38%;
	text-align: center;
	font-size: 18px;
	font-family: cursive;
	appearance: none;
	background-image: url(../img/sterla_1.png);
	border-radius: 2px;
	cursor: pointer;
	border: none;
	background: #565656;
	color: #fff;
	border-bottom: 1px solid orange;
}
.sel:hover{
	border: 1px solid red;
}
.sel:focus{
	border: none;
}
.btn{
	width: 30%;
	height: 35px;
	margin-left: 33.4%;
	font-size: 19px;
	font-family: GOST Type AU;
	background: #ff8304;
	color: #fff;
	margin-top: 3%;
	border: none;
	border-radius: 5px;
	margin-bottom: 10%; 
}
.btn:hover{
	cursor: pointer;
	border-radius: 5px 5px 3px 3px; 
	border-bottom: 1px solid #Fff;

}